@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Jost', sans-serif;
}
.nav{
    z-index: 10001 !important;
}
.hero-bg{
    background:linear-gradient(#EE9AE5,#5961F9);
}
.btn-primary{
    @apply py-3 px-8 bg-secondery font-semibold text-white rounded hover:bg-primary transition-all duration-300;
}
.active{
    @apply text-primary;
}